<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head.ejs');%>
        <title>Time Square Blogs</title>
        <%- include('./partials/stylesheetLink.ejs');%>
            <link rel="stylesheet" href="css/style.css">
            <style>
                html{
                    scroll-behavior: smooth;
                }
            </style>
</head>

<body>

    
    <section class="bg-orange">
        <!-- <div class="fixed top-0 w-screen z-50"> -->
            <%- include('./partials/navbar.ejs');%>
        <!-- </div> -->
            <div class="flex flex-col sm:flex-row justify-evenly items-center sm:py-44 py-16 container mx-auto">
                <div class=""><img
                        class="rounded-full w-2/3 sm:w-1/2 mx-auto sm:block hidden border-4 p-1.5 border-gray-300"
                        src="/img/logo/ts.png"></div>
                <div class="sm:text-left w-11/12 text-center sm:w-2/3 py-10 md:py-0">
                    <h1 class="headerFont my-8 text-6xl text-gray-50 font-normal">TIME SQUARE BLOGS</h1>
                    <div class=""><img class="rounded-full w-2/3 mb-12 sm:w-1/2 mx-auto block sm:hidden border-4 p-1.5 border-gray-300"
                            src="/img/logo/ts.png"></div>
                    <p class="text-2xl text-gray-200 txtFont mx-auto">Lorem ipsum, dolor sit amet consectetur
                        adipisicing elit.
                        Beatae corrupti nemo impedit, veritatis vel dolorem quis, rerum est molestiae commodi.</p>
                </div>
            </div>
        </section>

        
        <%- include('./partials/latestPost.ejs');%>

        <%- include('./partials/subscribe.ejs');%>
        
        <%- include('./partials/footer.ejs');%>

    <script src="js/navbar.js"></script>

</body>

</html>