<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head.ejs');%>
        <title>
            <%= title%> ~ Time Square Blogs
        </title>
        <%- include('./partials/stylesheetLink.ejs');%>
            <style>
                .bg-Container {
                    /* background-image: url(../img/about-bg.jpg); */
                    background: rgb(219, 234, 254);
                    height: 45vh;
                    background-repeat: no-repeat;
                    background-size: cover;
                    background-position: center;
                }
            </style>
</head>

<body>

    <div class="header flex flex-col justify-center">
        <div class="ml-24">
            <h1 class="text-5xl headerFont text-gray-700 capitalize">
                <%= title%>
            </h1>
            <div class="flex flex-row text-xl mt-3 opacity-80 interFont">
                <p class="mx-2.5"><i class="fa fa-clock opacity-25"></i> <%=updateDate%> ,</p>
                <p class="mx-2.5"><i class="fa fa-user opacity-25"></i> D. Abhi</p>
            </div>
            <p class="mt-5 bg-yellow-400 rounded interFont text-xl w-min py-3 px-5">#<%= hashTag %></p>
        </div>
    </div>

    <p><%= content %></p>


</body>

</html>