<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head.ejs');%>
        <title>
            <%= title%> ~ Time Square Blogs
        </title>
        <%- include('./partials/stylesheetLink.ejs');%>
            <style>
                .bg-Container {
                    /* background-image: url(../img/about-bg.jpg); */
                    background: rgb(219, 234, 254);
                    height: 45vh;
                    background-repeat: no-repeat;
                    background-size: cover;
                    background-position: center;
                }
            </style>
</head>

<body>

    <div class="flex flex-col justify-center header">
    </div>
    <div class="py-16 px-24 container mx-auto">
        <div class="">
            <h1 class="text-5xl headerFont text-gray-700 capitalize">
                <%= title%>
            </h1>
        </div>
        <div class="flex flex-row text-xl mt-3 opacity-80 interFont">
            <p class="mx-2.5 opacity-60"><i class="fa fa-clock"></i>
                <%=updateDate%> ,
            </p>
            <p class="mx-2.5 opacity-60"><i class="fa fa-user"></i> D. Abhi</p>
        </div>
        <p class="mt-3 bg-orange text-gray-100 rounded interFont text-xl w-min py-2 px-4">#<%= hashTag %>
        </p>

        <p class="mt-10 text-gray-600 text-lg text-justify interFont">
            <%#= content %>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni sed unde totam quos, quasi dolorum nemo culpa aspernatur numquam. Libero iure aut qui pariatur possimus velit officia accusantium eveniet quasi obcaecati tempora, labore illum amet deserunt provident cum explicabo ratione cumque incidunt laborum. Eius nemo officiis dignissimos sed quo cupiditate nulla molestias voluptatem repudiandae sit necessitatibus doloribus rem, voluptates amet atque dicta. Nam aperiam tempore unde corporis, temporibus necessitatibus deleniti quisquam architecto odio reprehenderit iusto laborum pariatur quo, amet ipsum magni sit? Tenetur, earum! Mollitia vero quos sunt veniam delectus error ab possimus laboriosam, ut, maxime ad quisquam! Illo, odit!
        </p>
    </div>


    <%- include('./partials/subscribe.ejs');%>

        <%- include('./partials/footer.ejs');%>

</body>

</html>